<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="id">id</label>
                
                  <input formControlName="id" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="conditions">conditions</label>
                
                    <textarea formControlName="conditions" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="financialCondition">financialCondition</label>
                
                    <textarea formControlName="financialCondition" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="paymentPurchasePrice">paymentPurchasePrice</label>
                
                    <textarea formControlName="paymentPurchasePrice" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <label for="status">status</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="PROPOSAL"
                      type="radio"
                      
                    />
                    PROPOSAL
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="COUNTER"
                      type="radio"
                      
                    />
                    COUNTER
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="AGREED"
                      type="radio"
                      
                    />
                    AGREED
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="purchaser">purchaser</label>
                
                    <textarea formControlName="purchaser" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="vendor">vendor</label>
                
                    <textarea formControlName="vendor" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="property">property</label>
                
                    <textarea formControlName="property" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="id">id</label>

              
                <input [ngModel]="id"formControlName="id" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="conditions">conditions</label>

              
                
                  <textarea [ngModel]="conditions" formControlName="conditions" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="financialCondition">financialCondition</label>

              
                
                  <textarea [ngModel]="financialCondition" formControlName="financialCondition" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="paymentPurchasePrice">paymentPurchasePrice</label>

              
                
                  <textarea [ngModel]="paymentPurchasePrice" formControlName="paymentPurchasePrice" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="status">status</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="PROPOSAL"
                          type="radio"
                          
                        />
                        PROPOSAL
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="COUNTER"
                          type="radio"
                          
                        />
                        COUNTER
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="AGREED"
                          type="radio"
                          
                        />
                        AGREED
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="purchaser">purchaser</label>

              
                
                  <textarea [ngModel]="purchaser" formControlName="purchaser" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="vendor">vendor</label>

              
                
                  <textarea [ngModel]="vendor" formControlName="vendor" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="property">property</label>

              
                
                  <textarea [ngModel]="property" formControlName="property" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Agreement</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">id</th>
            
                <th class="info">conditions</th>
            
                <th class="info">financialCondition</th>
            
                <th class="info">paymentPurchasePrice</th>
            
                <th class="info">status</th>
            
                <th class="info">purchaser</th>
            
                <th class="info">vendor</th>
            
                <th class="info">property</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.id}}</td>
            
                <td>{{asset.conditions}}</td>
            
                <td>{{asset.financialCondition}}</td>
            
                <td>{{asset.paymentPurchasePrice}}</td>
            
                <td>{{asset.status}}</td>
            
                <td>{{asset.purchaser}}</td>
            
                <td>{{asset.vendor}}</td>
            
                <td>{{asset.property}}</td>
            
            <td>
              <button (click)="getForm(asset.id);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.id);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
